body, html{
    overflow-x: hidden;
    
}


/* Responsive in desktop ,laptop screen */

@media(min-width:1200px){

    }

/* Responsive in mobile, tablet screen */

@media(max-width: 1100px){
     #sidebar{
    display: none;
   }
   #service_areas{
    display: none;
   }
   #hd {
   text-align: center;
   }
}