body, html{
	overflow-x: hidden;
    background:#fdfefe;
}


/* Responsive in Desktop, Laptop view */
@media(min-width: 1200px){

}

/* Responsive in Mobile, Tablet view */
@media(max-width: 1100px){

   #sidebar{
   display: none;
 }
}