body, html{
	overflow-x: hidden;
}

@media(min-width: 1200px){
	#col_1 #p_2{
		margin-top: -2%;
	}
}

@media(max-width: 1100px){
	#col_1 #p_2{
		margin-top:-7%;
	}
	 #col_1{
 	order: 1;
 }
 #sidebar{
 	order: 2;
 }
 form, #sidebar img{
 	display: none;
 }
}

