body, html{
  overflow-x:hidden;
  max-width:100%;
}

#fst_sec_row1_col2{
  border-top: 8px solid  #007ad4  ;
  border-bottom: 8px solid  #007ad4;
  border-radius: 30px;
}

/* Responsive in desktop, laptop screen */
@media(min-width: 1200px){
#fst_sec{
  background-image: url('/Projects/ozstrong/public/img/backimage.webp');
  background-size: cover ;
  background-repeat:no-repeat;
  height:700px;
  width: 100%;
}

}

/* End */

/* Responsive in Mobile, Tablet screen */
@media(max-width:1100px){
 #fst_sec{
  background-image:;
  background-color:#f4f6f7;
}
}

/* End */
